@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Signika Negative', sans-serif;
}

.container {
    height: 100%;
    margin: 0;
    position: relative;
}

.layer1 {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer2 {
    width: 85%;
    height: calc(2 * 85%);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.image2 {
    transform: scale(1.17);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.layer2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.layer3 {
    width: 45%;
    height: calc(2 * 45%);
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.layer4 {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.layer4 p {
    color: #ffffff;
    font-size: 6rem;
    font-weight: 300;
}

.image3 {
    transform: scale(1.32);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes setBlur {
    0% {
        filter: blur(0px);
        opacity: 1;
    }
    25% {
        filter: blur(3px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.blurred {
    animation: setBlur 2s forwards;
}

.itsabutton {
    position: absolute;
    z-index: 4;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: transparent;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
}

.text-with-stroke {
    color: #EEF5FF !important;
    -webkit-text-stroke: 5px #0766AD;
    paint-order: stroke fill;
}

@keyframes rotateZoomImg1 {
    0% {
        transform: rotate(0deg) scale(9);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.rotate-zoom-img-1 {
    animation: rotateZoomImg1 2s forwards;
}

@keyframes rotateZoomImg2 {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1.17);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg) scale(1.17);
    }
}

.rotate-zoom-img-2 {
    animation: rotateZoomImg2 2s forwards;
}

@keyframes rotateZoomImg3 {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1.32);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg) scale(1.32);
    }
}

.rotate-zoom-img-3 {
    animation: rotateZoomImg3 2s forwards;
}